body {
    background-color: lightgray;
    margin: 0;
    padding-top: 3rem;
    font-family: Verdana, sans-serif;
}

.heading {
    margin: auto;
    color: charcoal;
    width: 80vw;
}
h1, h2, p {
    text-align: center; 
    color: charcoal; 
    width: 80vw; 
}

.app-container {
    margin: auto;
    width: 28em;
}
.light-container {
    display: flex;
    /* width: 60%; */
}

.light {
    border: solid 3px white;
    border-radius: 15px;
    width: 12rem;
    height: 6rem;
    margin: 3rem;
}
.light:hover {
    scale: 1.2;
}

.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: lightgreen;
}
.blue {
    background-color: blue;
}
.red.glow {
    background-color: lightpink;
    border: solid 3px red;
    box-shadow: 5px 5px 12px #FFB6C1;
}
.yellow.glow {
    background-color: lightyellow;
    border: solid 3px yellow;
    box-shadow: 5px 5px 12px #FFF8DC;
}
.green.glow {
    background-color: aquamarine;
    border: solid 3px green;
    box-shadow: 5px 5px 12px #7FFFD4;
}
.blue.glow {
    background-color: cyan;
    border: solid 3px blue;
    box-shadow: 5px 5px 12px #00FFFF;
}

button {
    background-color: grey;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    width: 50%;
    margin-left: 7rem;
}
button:hover {
    scale: 1.2;
    background-color: charcoal;
    color: lightgray;
}

.tally-container {
    padding-top: 1rem;
    margin: auto;
    width: 28em;
}